<section>
    <div class="container mt-4">

        <div class="row">
            {{#each products}}
            <div class="col-md-3">
                <div class="card m-2" style="width: 15rem; height:20rem;">
                    <img src="/product-images/{{this.product._id}}.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{this.product.name}}</h5>
                        <p class="card-text">{{this.product.description}}</p>
                        <bold>{{this.product.price}}</bold>
                        
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</section>